/* @import '...'

@use .... as *;  */
$white_color: white;
$purple_color: #311852;
$azure_color: #4d36dc;
$pink_color: #ffdfed;
$orange_color: #ff7a1f;
$graypurple_color: #8d829c;
$da_capire: #fff9f5;
